@{
    ViewBag.Title = "SpecSheet";
}

<h2>Phone Technical Specifications Reference</h2>


<div class="container">
    <div class=" row"><h2>Apple</h2></div>
    <div class=" row">
        <div class=" col-md-6">
            <h3>iPhone 6s</h3>
            <ul>
                <li>Weight: 143g</li>
                <li>Dimension: 138.3 x 67.1 x 7.1mm</li>
                <li>OS: iOS 9 (upgrades to iOS 10)</li>
                <li>Screen size: 4.7-inch</li>
                <li>Resolution: 750 x 1334</li>
                <li>CPU: Apple A9</li>
                <li>RAM: 2GB</li>
                <li>Storage: 16*/32/64/128GB</li>
                <li>Battery: 1715mAh</li>
                <li>Rear camera: 12MP</li>
                <li>Front camera: 5MP</li>
            </ul>
        </div>

        <div class=" col-md-6">
            <h3>iPhone 6s Plus</h3>
            <ul>
                <li>Weight: 192g</li>
                <li>Dimension: 158.2 x 77.9 x 7.3mm</li>
                <li>OS: iOS 9 (upgrades to iOS 10)</li>
                <li>Screen size: 5.5-inch</li>
                <li>Resolution: 1080 x 1920</li>
                <li>CPU: Apple A9</li>
                <li>RAM: 2GB</li>
                <li>Storage: 16/32/64/128GB</li>
                <li>Battery: 2750mAh</li>
                <li>Rear camera: 12MP</li>
                <li>Front camera: 5MP</li>
            </ul>
        </div>
    </div>
    <div class=" row">
        <div class=" col-md-6">
            <h3>iPhone 7</h3>
            <ul>
                <li>Weight: 138g</li>
                <li>Dimensions: 138.3 x 67.1 x 7.1mm</li>
                <li>OS: iOS 10.2</li>
                <li>Screen size: 4.7-inch</li>
                <li>Resolution: 750 x 1334 resolution</li>
                <li>CPU: Apple A10 Fusion</li>
                <li>RAM: 2GB</li>
                <li>Storage: 32/128/256GB</li>
                <li>Battery: 1,960mAh</li>
                <li>Rear camera: 12MP</li>
                <li>Front camera: 7MP</li>
            </ul>
        </div>


        <div class=" col-md-6">
            <h3>iPhone 7 Plus</h3>
            <ul>
                <li>Weight: 188g</li>
                <li>Dimensions: 158.2 x 77.9 x 7.3mm</li>
                <li>OS: iOS 10</li>
                <li>Screen size: 5.5-inch</li>
                <li>Resolution: 1080 x 1920</li>
                <li>CPU: Apple A10 Fusion</li>
                <li>RAM: 3GB</li>
                <li>Storage: 32/128/256GB</li>
                <li>Battery: 2,900mAh</li>
                <li>Rear camera: 12MP</li>
                <li>Front camera: 7MP</li>
            </ul>
        </div>
    </div>




    <hr />
    <div class=" row"><h2>Samsung</h2></div>
    <div class=" row">
        <div class=" col-md-6">
            <h3>Galaxy S6</h3>
            <ul>
                <li>Weight: 143g</li>
                <li>Dimension: 138.3 x 67.1 x 7.1mm</li>
                <li>OS: iOS 9 (upgrades to iOS 10)</li>
                <li>Screen size: 4.7-inch</li>
                <li>Resolution: 750 x 1334</li>
                <li>CPU: Apple A9</li>
                <li>RAM: 2GB</li>
                <li>Storage: 16*/32/64/128GB</li>
                <li>Battery: 1715mAh</li>
                <li>Rear camera: 12MP</li>
                <li>Front camera: 5MP</li>
            </ul>
        </div>

        <div class=" col-md-6">
            <h3>Galaxy S7</h3>
            <ul>
                <li>Weight: 192g</li>
                <li>Dimension: 158.2 x 77.9 x 7.3mm</li>
                <li>OS: iOS 9 (upgrades to iOS 10)</li>
                <li>Screen size: 5.5-inch</li>
                <li>Resolution: 1080 x 1920</li>
                <li>CPU: Apple A9</li>
                <li>RAM: 2GB</li>
                <li>Storage: 16/32/64/128GB</li>
                <li>Battery: 2750mAh</li>
                <li>Rear camera: 12MP</li>
                <li>Front camera: 5MP</li>
            </ul>
        </div>
    </div>
    <div class=" row">
        <div class=" col-md-6">
            <h3>Galaxy S8</h3>
            <ul>
                <li>Weight: 138g</li>
                <li>Dimensions: 138.3 x 67.1 x 7.1mm</li>
                <li>OS: iOS 10.2</li>
                <li>Screen size: 4.7-inch</li>
                <li>Resolution: 750 x 1334 resolution</li>
                <li>CPU: Apple A10 Fusion</li>
                <li>RAM: 2GB</li>
                <li>Storage: 32/128/256GB</li>
                <li>Battery: 1,960mAh</li>
                <li>Rear camera: 12MP</li>
                <li>Front camera: 7MP</li>
            </ul>
        </div>


        <div class=" col-md-6">
            <h3>Galaxy Note8</h3>
            <ul>
                <li>Weight: 188g</li>
                <li>Dimensions: 158.2 x 77.9 x 7.3mm</li>
                <li>OS: iOS 10</li>
                <li>Screen size: 5.5-inch</li>
                <li>Resolution: 1080 x 1920</li>
                <li>CPU: Apple A10 Fusion</li>
                <li>RAM: 3GB</li>
                <li>Storage: 32/128/256GB</li>
                <li>Battery: 2,900mAh</li>
                <li>Rear camera: 12MP</li>
                <li>Front camera: 7MP</li>
            </ul>
        </div>
    </div>
</div>


