@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Repair Tracker</h1>
    <p class="lead">Create, modify, track, and reference repairs here.</p>
    </div>

<div class="row">
    
</div>