@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Repair Tracker</h1>
    <p class="lead">Create, modify, track, and reference repairs here.</p>
    <br />

    <div class="row">
        <div class="col-md-4">
                @Html.ActionLink("Repair Hub", "Index", "RepairHub", null, new { @class = "btn btn-danger btn-block", @style="width: 250px"}) 
       
                @Html.ActionLink("Tech Specs", "SpecSheet", "Spec", null, new { @class = "btn btn-danger btn-block", @style = "width: 250px" })
        </div>
    </div>
</div>
